[Unit]
Description=Celery Worker for PoolBetting
After=network.target

[Service]
Type=simple
User=rhonextecpool
Group=rhonextecpool
WorkingDirectory=/home/rhonextecpool/rhonextecpool-dir/site
ExecStart=/home/rhonextecpool/rhonextecpool-dir/site/env/bin/celery -A poolbetting worker -l INFO -Q celery,commission_queue,uip_queue,risk_queue
Restart=always

[Install]
WantedBy=multi-user.target
