[Unit]
Description=Celery Beat for PoolBetting
After=network.target

[Service]
Type=simple
User=rhonextecpool
Group=rhonextecpool
WorkingDirectory=/home/rhonextecpool/rhonextecpool-dir/site
ExecStart=/home/rhonextecpool/rhonextecpool-dir/site/env/bin/celery -A poolbetting beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
Restart=always

[Install]
WantedBy=multi-user.target
